<div class="main-container">
  <div class="container mt-5">
    <div class="header">
      <h1>Monty Hall Game</h1>
      <p style="margin-left: 50px;">Pick a door and see if you win!</p>
    </div>
    <div class="row mt-5 px-5">
      <div class="col-4" >
        <button class="btn btn-info px-5" style="height: 250px; width: 150px;">
          <div class="text-center" > Door 1</div>
        </button>
      </div>

      <div class="col-4" >
        <button class="btn btn-info px-4" style="height: 250px; width: 150px;">
          <div class="text-center"> Door 2</div>
        </button>
      </div>

      <div class="col-3" >
        <button class="btn btn-info px-3" style="height: 250px; width: 150px;">
          <div class="text-center"> Door 3</div>
        </button>
      </div>

    </div>

    <div style="margin-left: 28%;" class="mt-5">
        <h5>Proove the paradox of Monty Hall Problem</h5>
    </div>
  </div>
</div>
